* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;

}

main {
  background: url(assets/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}




.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar>img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: .25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style-type: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

#img:hover {
  top: -2px;
  box-shadow: 0 2px 2px #666;
  width: 3.1rem;
  transition: .2s;
}

@media (min-width: 720px) {

  /* estilos versão tablet */
  main {
    background-size: cover;
  }
}

@media (min-width: 960px) {
  /* estilos versão desktop */
body{
  background-color: black;

}
  main {
    background: url(assets/desktop.svg) no-repeat center/cover;
    min-height: 612px;
  }

  body {
    background: linear-gradient(-45deg, #B3093f, #451531, #000, #b3093f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
}